@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    /* Aqui ele vai ler corretamente as cores do config */
    @apply bg-background text-slate-200 antialiased selection:bg-primary/30 selection:text-white;
  }
}

/* Scrollbar personalizada */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-background;
}
::-webkit-scrollbar-thumb {
  @apply bg-primary/20 rounded-full hover:bg-primary/40 transition-colors;
}